body {
    background: black;
}
#game{
    width: 90%;
    height: 80%;
    border: 1px solid black;
    background: white;
    position: absolute;
    top: 10%;
    left: 5%;
}
#character{
    height: 8%;
    width: 3%;
    background: blue;
    position: absolute;
    /* top: 90%;
    left: 5%; */
}
#portal{
    height: 10%;
    width: 5%;
    background: lime;
    position: absolute;
    border: .5px solid black;
    border-radius: 10px;
}


/* @media screen and (min-width:600px) {
    #game {
        width: 600px;
        height: 300px;
    }
}
@media screen and (min-width:900px) {
    #game {
        width: 900px;
        height: 450px;
    }
}
@media screen and (min-width:1200px) {
    #game {
        width: 1200px;
        height: 600px;
    }
} */